form {
    font-family: fantasy;
    color:red;
    background-color: gray;
    padding:5px;
    margin: 5px;
}

h1 {
    font-family: fantasy;
    color:red;
    background-color: gray;
}